html {
  background: #f5f5f5;
  color: #1F1F1F;
  overflow-y: scroll;
}
body {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Helvetica Neue",
    "Noto Sans Japanese",
    "ヒラギノ角ゴ ProN W3",
    Hiragino Kaku Gothic ProN,
    Arial,
    Meiryo,
    sans-serif;
  margin: 0;
}
body > div {
  display: none !important;
}
a {
  color: inherit;
}
input, button, textarea, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type="text"] {
  border: 1px solid #939393;
  border-radius: 3px;
  padding: 2px 4px;
  width: 180px;
}
input[type="radio"] {
  display: none;
}
label {
  position: relative;
  display: inline-block;
  padding: 3px 3px 3px 20px;
  cursor: pointer;
}
label::before {
  position: absolute;
  content: '';
  top: 50%;
  left: 0;
  width: 14px;
  height: 14px;
  margin-top: -8px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 100%;
}
input[type="radio"]:checked + label::after {
  position: absolute;
  content: '';
  top: 50%;
  left: 4px;
  width: 8px;
  height: 8px;
  margin-top: -4px;
  background: #3498db;
  border-radius: 100%;
}

header {
  background: #fff;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: 10px 0;
}
h2 {
  height: 60px;
  margin-bottom: 0;
}
h2 span:first-child {
  display: block;
  height: 35px;
}
h2 span:last-child {
  color: #939393;
  display: block;
  font-size: 14px;
  height: 25px;
}
select {
  background: none transparent;
  border: 0;
  border-radius: 0;
  box-sizing: content-box;
  color: inherit;
  font-size: 1rem;
  height: 32px;
  margin: 0;
  outline: none;
  padding: 9px 38px 9px 9px;
  vertical-align: middle;
  width: 150px;
}
select::-ms-expand {
  display: none;
}
.select {
  background: #fff;
  border: 1px solid #939393;
  border-radius: 4px;
  box-shadow: 0 3px 0 #AAA;
  position: relative;
  height: 50px;
}
.select:after {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAGFBMVEUAAAAZJCYWISIYIyQYIiUWIiIYIyQYIiXh0rToAAAACHRSTlMA/hTRqiinvwFkb0sAAABCSURBVHjajchBDsAgDAPBOJDw/x+XVN0icQGfPGs3i+2GEqeiLCXWLENzvdzrDfP2ls/NjfKbgimYglfBq2Dm+LwHguMA235EdKYAAAAASUVORK5CYII=") center no-repeat;
  bottom: 0;
  content: "";
  display: block;
  position: absolute;
  pointer-events: none;
  right: 0;
  top: 0;
  width: 1.8em;
}
.button {
  border-radius: 4px;
  font-size: 12px;
  line-height: 52px;
  position: relative;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
  -webkit-transition: none;
  transition: none;
  width: 120px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.button:hover {
  /*background: #31c8aa;
  box-shadow: 0 3px 0 #23a188;*/
  opacity: 0.8;
}
div.button:active {
  box-shadow: none;
  top: 3px;
}
.button.red {
  background: #F95E25;
  box-shadow: 0 3px 0 #A04241;
  color: #fff;
}
.button.green {
  background: #1abc9c;
  box-shadow: 0 3px 0 #0e8c73;
  color: #fff;
}
.box {
  margin: 10px auto;
  width: 1000px;
}
.box_setting {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 60px;
}
.box_setting > div {
  margin: auto 10px;
}
/*.box_setting > div:first-child {
  margin-left: 0;
}*/
.box_setting .radio,
.box_setting .text {
  display: flex;
  flex-direction: column;
  /*text-align: right;*/
  text-align: left;
  height: 100%;
}
.box_setting .text > div {
  height: 50%;
  padding: 3px;
}
.box_setting .text span {
  /*bmargin-right: 10px;*/
  margin-left: 5px;
}
.box_setting > div:last-child {
  margin-right: 0px;
}
.box_title {
  height: 60px;
}
.box_table {
  border: 1px solid #939393;
}
.title, .data {
  display: flex;
  justify-content: space-between;
}
.title {
  background: #1F1F1F;
  color: #fff;
  text-align: center;
}
.data {
  background: #fff;
}
.title div, .data div {
  border: 1px solid #939393;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px 5px;
  text-align: center;
  width: calc((100% - 20%) / 4);
}
.box_table .sskc, .box_table .link {
  width: 10%;
}
.link a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.link svg {
  fill: #F85A3E;
  width: 20px;
}
.alert_text {
  background-color: #ffeffe;
  padding: 10px;
  color: #C25338;
  border: 1px solid #D4440D;
  line-height: 1.5;
  clear: both;
  background-repeat: no-repeat;
  background-position: 5px 5px;
  background-image: url(https://wineak.github.io/sskc/wf/onlineNegotiationManual/alert.png);
}
.alert_text span {
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='https://wineak.github.io/sskc/wf/onlineNegotiationManual/alert.png', sizingMethod='scale');
  width: 48px;
  height: 48px;
  position: relative;
  top: -5px;
  left: -5px;
  text-indent: -9999px;
  float: left;
  visibility: hidden;
}
.display_none {
  display: none;
}