/************************************
** 文字にライン（下線）を引くタグ
** 本文　【<strong class="marker">強調します</strong>】
** 注意文【<strong class="marker_c ">強調します</strong>】
**
************************************/
.marker {
  background-image: linear-gradient(transparent 60%, #feb5c9 50%);
  font-weight: bold;
  padding: 0 5px;
}

.marker_c {
  background-image: linear-gradient(transparent 60%, rgba(254, 181, 201, 0.45) 50%);
  padding: 0 1px;
}

/************************************
** フォーム自体の調整
**
************************************/
/* 各種非表示箇所 */
.base-header,
.base-footer,
.mod-breadcrumbs,
.wgt-form__head,
.header,
.mod-product,
.footer,
#pagetop {
  display: none;
}

/* フォームタイトルのmargin調整 */
.wgt-heading {
  margin: 0;
}

/* フォームのpadding調整 */
.wgt-form .wgt-form__body {
  padding: 15px 30px;
}

/* フォームの横幅 */
div.base-page {
  min-width: auto;
  margin: 0;
}

/* 注意文の文字サイズ */
.label_message {
  font-size: 14px;
}

/* ラベルのデザイン */
article.resp li.label {
  background-color: #f6f6f6;
  border-left: 6px solid #ccc;
  font-size: 22px;
  margin: 30px 0 15px 0;
  padding: .5em .75em;
}

/************************************
** パスワード発行
**
************************************/
#password {
  width: 400px;
}

#password table {
  border: none;
  border-collapse: separate;
  border-spacing: 0 10px;
}

#password td {
  border-bottom: none;
  border-right: solid 1px #666;
  color: #666;
  padding: 5px 10px;
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
}

#password td:last-child {
  border-right: none;
}

#password br {
  display: none;
}

/************************************
** 製品選択
**
************************************/
#service br {
  display: none;
}

#service {
  margin-bottom: 30px;
  text-align: center;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#service div {
  font-size: 10px;
  display: inline-block;
  width: 65px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  line-height: 30px;
  outline: none;
  margin: 10px;
  /* エフェクト */
  position: relative;
  border-radius: 4px;
  color: #fff;
  line-height: 28px;
  -webkit-transition: none;
  transition: none;
  box-shadow: 0 4px 4px #8e8e8e;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

#service div,
#service div::before,
#service div::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#service div::before,
#service div::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
}

#service div:hover {
  box-shadow: 0 4px 4px #8e8e8e;
}

#service div:active {
  top: 3px;
  box-shadow: 0 1px 1px #8e8e8e;
}

/************************************
** アカウントリスト・製品リスト
**
************************************/
.account-list,
.service-list {
  position: relative;
  height: 40px;
  font-size: 0;
}

article.resp form li.clr.account-list,
article.resp form li.clr.service-list {
  margin: 0;
}

article.resp form li.clr.service-list {
  display: none;
}

article.resp form li.clr.account-list.sum-list,
article.resp form li.clr.service-list.service-list-plan {
  padding-bottom: 2px;
  margin-bottom: 6px;
}

.account-list>*,
.service-list>* {
  background-color: rgba(255, 255, 255, 0.85);
  position: absolute;
  top: 0;
  bottom: 0;
}

.account-list.sum-list>*,
.service-list.service-list-plan>* {
  bottom: 2px;
}

.account-list>label,
.service-list>label {
  left: 6px;
}

.account-list>div,
.service-list>div {
  right: 0;
}

article.resp form li.clr.account-list label.col.span_3,
article.resp form li.clr.service-list label.col.span_3 {
  width: 250px;
  padding: 5px 0 0 5px;
}

article.resp form li.clr.account-list div.col.span_9,
article.resp form li.clr.service-list div.col.span_9 {
  width: calc(100% - 250px - 6px);
  padding: 5px 0 0;
}

/************************************
** カラーリング
** その他の色はJavaScript側で生成
**
************************************/
[data-service] {
  background-color: rgba(42, 42, 42, 1);
  border-color: rgba(42, 42, 42, 1);
}

/************************************
** 細かい調整
**
************************************/
p {
  margin: 0;
}

article.resp div.col.span_9 em {
  font-size: 12px;
}

article.resp .sum-list input[type="text"] {
  border: #fff;
  background-color: transparent;
}

.ui-datepicker-trigger[alt=" "] {
  cursor: auto;
}

#next_month {
  font-size: 10px;
}