/* saaske */
#anchor_inquiryForm,
.wgt-heading__inner,
.mod-product {
	display: none;
}
.base-contents__inner {
	text-align: center;
}
.frame {
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: hidden;
	height: 650px;
	width: 100%;
	position: relative;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	border: none;
}
/* qrcode */
#qrpage,
#qrcode {
	margin: 30px auto;
	text-align: center;
}
strong {
	border-bottom: 2px solid #ff3333;
	padding:0 3px;
}